 <div class="container"><br>
  <div class="row">
   
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" (click)="setRadio(0)" id="inlineRadio1" value="option1" checked>
    <label class="form-check-label" for="inlineRadio1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" (click)="setRadio(1)" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">2</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" (click)="setRadio(2)" id="inlineRadio3" value="option3">
    <label class="form-check-label" for="inlineRadio3">3</label>
  </div>
    </div>
<hr>
<div class="row">
  <div *ngIf='radValue==0'>
  <p>This is 1.</p>
  </div>
  <div *ngIf='radValue==1'>
  <p>This is 2.</p>
  </div>
  <div *ngIf='radValue==2'>
  <p>This is 3.</p>
  </div>
</div>

<div class="row">
  <ng-template [ngIf]='radValue==0'>
  <p>This is not 2 and 3.</p>
  </ng-template>
 <ng-template [ngIf]='radValue==1'>
  <p>This is not 1 and 3.</p>
  </ng-template>
   <ng-template [ngIf]='radValue==2'>
   <p>This is not 1 and 2.</p>
</ng-template>
</div>

<div class="row">
  <ng-template [ngIf]='radValue==0'>
  <p>This is not 2 and 3.</p>
  </ng-template>
 <ng-template [ngIf]='radValue==1'>
  <p>This is not 1 and 3.</p>
  </ng-template>
   <ng-template [ngIf]='radValue==2'>
   <p>This is not 1 and 2.</p>
</ng-template>
</div>
    </div>